// start.scss
$margin: 38px;
$margin-desktop: 77px;

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: #fff;
  transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1);

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.brand-logo {
  position: fixed;
  z-index: 10000;
  width: 64px;
  height: auto;
  top: $margin;
  left: $margin;
  transform: translate(calc(50vw - #{$margin} - 50%), calc(50vh - #{$margin} - 50%)) scale(1.5625);
  will-change: transform;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  &.float-to-corner {
    transform: translate(0, 0) scale(1);
  }

  @media (min-width: 992px) {
    width: 100px;
    top: $margin-desktop;
    left: $margin-desktop;
    transform: translate(calc(50vw - #{$margin-desktop} - 50%), calc(50vh - #{$margin-desktop} - 50%)) scale(2.65);
  }
}

@media (prefers-reduced-motion: reduce) {
  .brand-logo {
    transition: none;
    transform: translate(0, 0) scale(1);
  }
}
