// start.scss
.loading__screen {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: var(--bg-color);

  animation: loadingFadeOut 400ms cubic-bezier(0, 0, 0, 1) forwards;
  animation-delay: 1s;

  will-change: opacity;
}

.animating__logo {
  position: fixed;
  z-index: 11;

  width: 265px;
  top: 50%;
  left: 50%;

  transform:
    translate(-50%, -50%)
    scale(1);

  animation: logoFly 1s cubic-bezier(0, 0, 0, 1) forwards;
  animation-delay: 50000ms;

  will-change: transform;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 16px 16px 0;

  img {
    width: 64px;
  }
}

@keyframes logoFly {
  to {
    transform:
      translate(
        calc(-50% + 16px),
        calc(-50% + 16px)
      )
      scale(0.2415); // 64 / 265
  }
}

@keyframes loadingFadeOut {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

/* Accessibility + Performance */
@media (prefers-reduced-motion: reduce) {
  .animating__logo,
  .loading__screen {
    animation: none;
  }
}
