:host {
  .loading__screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: var(--bg-color);

    img {
      width: 265px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0 16px;

    img {
      width: 64px;
    }
  }
}
