:host {
  .loading__screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOutScreen 0.2s ease-in-out 1.2s forwards;

    img {
      animation: flyToHeader 1s ease-in-out 0.2s forwards;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0 16px;

    img {
      width: 64px;
    }
  }
}

@keyframes flyToHeader {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(calc(-50vw + 48px), calc(-50vh + 55px)) scale(0.2415);
  }
}

@keyframes fadeOutScreen {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
