// start.scss
.loading__screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: var(--bg-color);
  animation: loadingFadeOut 300ms ease forwards;
  animation-delay: 1s;
}

.animating-logo {
  position: fixed;
  z-index: 11;
  width: 265px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: logoFly 1s ease forwards;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 16px 16px 0 16px;

  img {
    width: 64px;
  }
}

@keyframes logoFly {
  from {
    top: 50%;
    left: 50%;
    width: 265px;
    transform: translate(-50%, -50%);
  }
  to {
    top: 16px;
    left: 16px;
    width: 64px;
    transform: translate(0, 0);
  }
}

@keyframes loadingFadeOut {
  to {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
