:root {
  .loading__screen {
    position: absolute;
    z-index: 10;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
}
