:root {
  --primary-color: #4589ff;
  --bg-color: #121212;
  --text-color: #f5f5f5;
}

[data-theme='light'] {
  --primary-color: #4589ff;
  --bg-color: #ffffff;
  --text-color: #121212;
}

body {
    background-color: var(--bg-color);
}