// styles.scss
:root {
  --primary-color: #4589ff;
  --bg-color: #121212;
  --text-color: #f5f5f5;
}

[data-theme='light'] {
  --primary-color: #4589ff;
  --bg-color: #ffffff;
  --text-color: #121212;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

@media (max-width: 991.98px) {
  .mobile__invisible {
    display: none;
  }
}

@media (min-width: 992px) {
  .desktop__invisible {
    display: none;
  }
}